body, html {
    height: 100%;
    margin: 0;
}

/* Home Page Styles */
.bg {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homePageLogin {
  margin-top: 8%;
  padding: 0 2em 2em 2em;
  border: 2px solid rgba(244,244,244,0.75);
  border-radius: 6px;
  background-color: rgba(0,0,0,0.625);
  color: rgb(244,244,244);
}

/* Slideshow App Settings Styles */
.dark-background {
  background-color: rgb(88,88,88);
  color: rgb(244,244,244);
}

.dark-background a {
  color: rgb(244,244,244);
}

.dark-background a:hover {
  color: rgb(88,88,88);
}

.light-grey-right-border {
  border-right: 1px solid rgba(144,144,144,0.25);
}

.uploadButton {
  margin-top: 15px;
}
